
<h2 class="page-title">Grocery List</h2>
<div class="page-content">
  <br>
  <%= link_to "Manage List", user_grocerylist_path(current_user.id, id: @grocery_list.id), class: "btn btn-success" %><br><br>
  <ul class="grocery-list">
    <% @list_items.each do |ingredient| %>
        <li class="grocery-item well">
          <label for="checkedoff-<%= ingredient.id %>"><input type="checkbox" id="checkedoff-<%= ingredient.id %>" name="selected"> <%= ingredient.name %></label>
      </li>
    <% end %>
  </ul>
</div><!-- .page-content -->



