<footer id="footer" class="site-footer well">
  <div class="vcard adr" role="contentinfo">
    <p id="copyright" class="url fn org">Copyright</a> &copy; <%= Time.now.year %> <a href="/" class="url fn org">GrocerEase</a></p>
  <div class="attribution">
  </div>
</footer>
