<ul class="recipes all grid-list logged-in">
  <% if @recipes.empty? %>
    <div class="well warning"><p>No Results Found</p></div>
  <% else %>
    <% @recipes.each do |recipe| %>
      <%= render partial: "collected_recipe", layout: false, locals: {recipe: recipe} %>
    <% end %>
  <% end %>
</ul>
